@font-face {
    font-family: mainFont;
    src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
}



body {
    font-family: mainFont;
    margin: 0;
    background-color: #161822;
    letter-spacing: 3px;
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}
p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}
#Line1 {
  font-size: 25px;
  font-weight: bold;
   color: white;
  padding: 0 auto;
}

#t-names {
  color: white;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #FF00FF;
}

.badge.bgmi {
    background-color: #FFA500
}

.badge.valorant {
    background-color: #FF1493;
}

.badge.lol {
    background-color: #694EAE;
}

.badge.fifa {
    background-color: #40ABF5;
}

.badge.tournaments {
    background-color: #155738;
}

.badge.premium-tournament {
    background-color: #cdff43;
    color: #252525;
}

.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
/* end: global style rules */

/* start: header styles */
header {
    background-color: #131313;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #4efcf3;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #FF00FF;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FF00FF;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #ffee00;
}
#login-register-button  {
    font-family: mainFont, serif;
    background-color: hsl(207, 90%, 60%);
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}

#login-register-button:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

#read_more  {
    font-family: mainFont, serif;
    background-color: linear-gradient(rgb(0, 217, 255), rgb(255, 0, 255));
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1.35em;
    font-weight: 300;
}

#read_more:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

#read_more2{
    color: white;
}
/* end: header styles */

/* start: main-front styles */
#main_front-image {
    background: url('https://wallpapersmug.com/download/1600x1200/5051af/pubg-playerunknowns-battlegrounds.jpg') top center no-repeat;
    height: 820px;
}
#active{
    color: yellow;
}

.main_front-marketing-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.main_front-marketing-text h1 {
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
}

.main_front-marketing-text span {
    color: #FF00FF;
}

.main_front-marketing-text h5 {
    color: #eee;
    font-size: 0.85em;
    font-weight: 300;
    max-width: 500px;
    line-height: 2;
    margin-bottom: 2.5em;
}

.main_front-marketing-text button {
    background-color: #FF00FF;
    color: #131313;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.main_front-marketing-text .Line1 h3 {
    color: #000;
}
/* end: main-front styles */

/* start: latest news styles */
#latest-news {
    margin-bottom: 75px;
}

#latest-news .flex {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
}

#latest-news .flex h5 {
    flex-basis: 12%;
    background-color: #694EAE;
    padding: 25px;
    margin: 0;
    text-align: right;
    color: #eee;
    font-size: 1.2em;
}

#latest-news-container {
    background-color: #131313;
    position: relative;
    flex-basis: 90%;
    padding: 25px;
}

#latest-news-container .badge {
    margin-right: 20px;
}

#latest-news-container .latest-news-text {
    color: #eee;
}
/* end: latest news styles */

/* start: available-games styles */
#available-games-boxes {
    margin-bottom: 75px;
}

#available-games-boxes .box {
    flex-basis: 25%;
    position: relative;
    height: 380px;
}

#available-games-boxes .box.bgmi {
    background: url('https://cdn.dnaindia.com/sites/default/files/styles/full/public/2021/08/10/989978-pubg.jpg') top center no-repeat;
    background-size: cover;
}

#available-games-boxes .box.valorant {
    background: url('https://images.indianexpress.com/2021/06/Valorant-Mobile.jpg') top center no-repeat;
    background-size: cover;
}

#available-games-boxes .box.lol {
    background: url('https://cdn1.dotesports.com/wp-content/uploads/2019/09/12195522/league-of-legends.jpg') top center no-repeat;
    background-size: cover;
}

#available-games-boxes .box.fifa {
    background: url('https://upload.wikimedia.org/wikipedia/en/f/ff/FIFA_World_Version_8_title_screen.jpg') top center no-repeat;
    background-size: cover;
}

#available-games-boxes .box .badge {
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
}

#available-games-boxes .box .contents {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    color: #eee;
    padding: 0 35px 0 25px;
}

#available-games-boxes .box .contents a {
    font-size: 0.8em;
    font-weight: 300;
    color: rgb(58, 65, 71);
}
/* end: available games styles */

/* start: past tournaments styles */
#past-tournaments {
    background: url('') top center no-repeat;
    background-color: #2D214E;
    border-top: 1px solid #d6dee7;
    border-bottom: 1px solid #d6dee7;
    padding: 70px 0 120px;
}

#past-tournaments h1 {
    text-align: center;
}

#past-tournaments .box {
    position: relative;
    flex-basis: 31%;
    background-color: rgb(38, 44, 48);
}

#past-tournaments .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#past-tournaments .box img {
    width: 100%;
}
#past-tournaments-head {
  color: white;
}


#past-tournaments .box .box-lower-section {
    padding: 20px;
}

#past-tournaments .box .box-lower-section p {
    color: #999;
}

#past-tournaments .box .box-lower-section a {
    color: #999;
    font-size: 0.8em;
}
/* end: past tournaments styles */

/* start: upcoming tournaments styles */
#tournaments {
    background: url('') 0 0 repeat;
    background-color: #000416;
    padding: 125px 0 105px;
}

#tournaments .flex {
    position: relative;
}

#tournaments .badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #FFD700;
}

#tournaments .badge.tournaments {
    top: -32px;
    left: 15px;
    color: #000;
}

#tournaments .box {
    background-color: #4d4e55;
    padding: 70px 20px 40px;
    flex-basis: 45%;
    position: relative;
}

#tournaments .box .tournaments-image {
    float: left;
    width: 30%;
}

#tournaments .box .tournaments-image img {
    width: 100%;
}

#tournaments .box .tournaments-content {
    float: left;
    margin-left: 25px;
    width: 60%;
}

#tournaments .box .tournaments-content h3 {
    color: #ffeb34;
    margin-top: 0;
}

#tournaments .box .tournaments-content label {
    color: #999;
    font-size: 0.90em;
}

#tournaments .box .tournaments-content label.prizes {
    color: #bbff00;
    display: inline-block;
    margin-top: 12px;
}

#tournaments .box .tournaments-content strong {
    color: #eee;
    font-size: 0.75em;
}

/* end: upcoming tournaments styles */

/* start: mvp styles */
#mvp {
    background: url('') top right no-repeat;
    background-color: rgb(44, 5, 80);
    background-size: cover;
    padding: 75px 0 50px;
    border-top: 1px solid #4efcf3;
    border-bottom: 1px solid #4efcf3;
}

#mvp h1 {
    text-align: center;
    margin-bottom: 1.65em;
}

#mvp .box {
    flex-basis: 23%;
    position: relative;
    text-align: center;
}

#mvp-head {
  color: white;
}

#mvp .box .rating-badge {
    border-radius: 28px;
    padding: 13px;
    font-size: 1.1em;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #FF00FF;
    position: absolute;
    top: -30px;
    left: 30px; 
}

#mvp .box .rating-badge.gold {
    background-color: #daa520;
}

#mvp .box .rating-badge.green {
    background-color: #4EAE60;
}

#mvp .box .rating-badge.violet {
    background-color: #FF20AE;
}

#mvp .box .mvp-image {
    margin-bottom: 0.75em;
    overflow: hidden;
    width: 270px;
    height: 150px;
}

#mvp .box .mvp-image img {
    width: 270px;
    height: 150px;
    object-fit: cover;
}

#mvp .box p {
    color: #999;
}
/* end: mvp styles */

/* start: posts/comments styles */
#posts-comments {
    background: url('') 0 0 repeat;
    background-color: rgba(14, 1, 29, 0.808);
    padding: 75px 0;
}

#posts-comments .game-warrior img.footer-graphic {
    position: absolute;
    margin-bottom: 0;
    width: 115%;
}

#posts-comments .posts-comments-box {
    flex-basis: 28%;
    background-color: #252525;
    padding: 20px 20px 25px;
    border: 1px solid #4a4a4a;
}

#posts-comments .posts-comments-box h3 {
    color: #eee;
}

.post-item {
    margin-top: 25px;
}

.post-item:first-child {
    margin-top: 0;
}

.post-item:after {
    content: "";
    display: table;
    clear: both;
}

.post-item img {
    float: left;
    width: 30%;
}

.post-item > div {
    float: left;
    margin-left: 5%;
    width: 65%;
}

.post-item > div h5 {
    color: hsl(207, 100%, 67%);
    font-size: 0.8em;
    margin-top: 0;
}

.post-item > div p {
    color: #eee;
    margin: 5px 0;
    font-size: 0.8em;
}

.post-item > div small {
    color: #999;
    font-size: 0.75em;
}

.comments-item {
    margin-top: 1em;
}

.comments-item:first-child {
    margin-top: 0;
}

.comments-item:after {
    content: "";
    display: table;
    clear: both;
}

.comments-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    
}

.comments-item > div {
    float: left;
    margin-left: 7%;
    width: 70%;
}

.comments-item > div p {
    color: #eee;
    font-size: 0.8em;
    margin: 0 0 5px;
}

.comments-item > div p span {
    color: #999;
}

.comments-item > div p span.author {
    color: #E92159;
}

.comments-item > div h5 {
    color: hsl(207, 100%, 67%);
    font-size: 0.8em;
    margin-top: 0;
}

.comments-item > div small {
    color: #999;
    font-size: 0.75em;
}
/* end: posts/comments styles */

/* start: footer styles */
footer {
    background-color: #252525;
    padding: 25px 0 20px;
}

footer small {
    color: #ddd;
    font-size: 0.9em;
}

footer small .footer-heart {
    font-size: 16px;
}

footer small a {
    color: #00d9ff;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 12px;
}

footer ul li a {
    color: #ddd;
    font-size: 0.8em;
}
/* end: footer styles */








@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.deconstructed {
    position: relative;
    margin: auto;
    height: 0.91em;
    color: transparent;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 75px;
  }

  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #4efcf3;
    pointer-events: none;
  }

  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }

  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }

  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }

  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }

  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }

  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }

  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }

  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }
